<!DOCTYPE html>
<html ng-app="app">

  <head>
    <link rel="stylesheet" href="style.css">
  </head>

  <body ng-controller="mainCtrl">
    <!--top bar-->
    <div class="search-container">
        <img src="https://www.alphasoftware.com/documentation/pages/images/icons/faq.svg"/>
        <input id="search" type="text" placeholder="Search" ng-model="user.name">
        <div ng-click="clear()">&#215;</div>
    </div>
    <div class="login-user">
        <p>Peter Hoang</p>
        <img src="https://www.iconfinder.com/data/icons/black-easy/512/538474-user_512x512.png"/>
        <span>&#9662;</span>
    </div>

    <section>
        <!--list of contacts-->
        <div class="controls">
            <ul>
                <li ng-repeat="person in people | filter: user"><a ui-sref="user({name: '{{person.name}}'})">{{person.name}}<span>&#9654;</span></a></li>
            </ul>
        </div>
        <!--contact details-->
        <div ui-view class="user-container"></div>

    </section>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
    <script src="script.js"></script>
  </body>

</html>