*{
    margin: 0;
}

section{
    display: flex;
    width:100vw;
    height: 90vh;
    border: 1px solid green;
}

.controls{
    width: 30%;
    height: 100%;
}

.user-container{
    width: 70%;
    height: 100%;
    border: 1px solid red;
}