*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    display: flex;
    width:100vw;
    height: 85vh;
    position: absolute;
    bottom: 0px;
    /*border: 1px solid green;*/
}
/*seach bar on the top*/
.search-container{
    border-radius: 40px;
    border:  2px solid #DFD7CA;
    padding: 10px;
    color: #E0D9CC;
    display: flex;
    align-items: center;
    width: 400px;
    margin-top: 30px;
    margin-left: 30px;
}
.search-container > input {
    border: none;
    font-size: 30px;
    margin-left: 10px;
    outline: none;
}
.search-container > div {
    color: black;
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.search-container > img {
    height: 30px;
    width: 30px;
}

/*user selection on the left*/
.controls{
    width: 30%;
    height: 100%;
}

.user-container{
    width: 70%;
    height: 100%;
    padding: 50px;
}

ul{
    list-style: none;
}
ul > li {
    border: 3px solid #E0D9CC;
    height: 120px;
    cursor: pointer;
}

li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 30px;
    color: #333B3D;
    text-decoration: none;
}

a > span{
    position: absolute;
    right: 20px;
}

ul> li:hover{
    background-color: #E0D9CC;
}
img{
    display: inline-block;
    border-radius: 10px;
    height: 120px;
    width: 120px;
}
.first-row{
    display: flex;
    padding: 10px;
}
.right-info{
    display: flex;
    flex-direction: column;
    height: 150px;
    margin-left: 100px;
}
.right-info > button{
    background-color: #3E3F3A;
    height: 80px;
    border-radius: 5px;
    color:white;
    outline: 0;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.rating-container > span{
    font-size: 40px;
}
.description{
    border-left: 3px solid #E0D9CC;
    padding: 10px;
}

.tables{
    display: flex;
    margin-top: 50px;
}
.tables h3{
    border: 1px solid #E0D9CC;
    padding: 15px;
}

.likes{
    display: inline-block;
    width: 60%;
}
.likes > div:nth-child(odd){
    background-color: #F8F5F0;
}
.dislikes{
    display: inline-block;
    width: 40%;
}
.dislikes > div:nth-child(odd){
    background-color: #F8F5F0;
}
.data{
    border: 1px solid #E0D9CC;
    padding: 15px;
}