<div class="user-info">
    <h1>{{user.name}}</h1>
    <br>
    <!--user info-->
    <div class="first-row">
        <img src="{{user.img}}"/>
        <div class="right-info">
            <button>Send Message!</button>
            <div class="rating-container">
                <span ng-repeat="star in user.stars track by star.id">{{star.icon}}</span>
            </div>
        </div>
    </div>
    <p class="description">{{user.Description}}</p>
    <!--table data-->
    <div class="tables">
        <div class="likes">
            <h3>Likes</h3>
            <div class="data" ng-repeat="x in user.Likes">
                <p>{{x}}</p>
            </div>
        </div>
        
        <div class="dislikes">
            <h3>Dislikes</h3>
            <div class="data" ng-repeat="y in user.Dislikes">
                <p>{{y}}</p>
            </div>
        </div>
        
    </div>
</div>
