
<div class="user-info">
    <h1>{{user.name}}</h1>
    <img src="{{user.img}}"/>
    <button>Send Message</button>
    <span>{{user.rating}}</span>
    <p>{{user.Description}}</p>
    <div class="tables">
        <div class="likes">
            <h3>Likes</h3>
            <div class="data" ng-repeat="x in user.Likes">
                <p>{{x}}</p>
            </div>
        </div>
        
        <div class="dislikes">
            <h3>Dislikes</h3>
            <div class="data" ng-repeat="y in user.Dislikes">
                <p>{{y}}</p>
            </div>
        </div>
        
    </div>
</div>
